@charset "UTF-8";
/*
Phone -- 0-600px
Tablet-portrait -- 600px-900px
Tablet-landscape -- 900px-1200px
Big-desktop -- 1800+ px

Breakpoint choices
phone
tab-port
tab-land
big-desktop

*/
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  user-select: none;
  scroll-behavior: smooth; }

::-webkit-scrollbar {
  background: transparent;
  width: 6px;
  height: 8px; }

::-webkit-scrollbar-thumb {
  background-color: #9a9bf7;
  border-radius: 10px; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Work Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.7rem;
  font-weight: 500;
  color: #333333; }

.heading-primary {
  color: #3d3f94;
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 400;
  animation: slideFromTop 1s ease-out 0.4s backwards; }
  @media only screen and (max-width: 28.75em) {
    .heading-primary {
      font-size: 2.5rem; } }

.heading-1 {
  font-weight: 300;
  font-size: 2rem;
  line-height: 2.1rem;
  color: #333333; }

.heading-2 {
  font-weight: bold;
  font-size: 6.5rem;
  line-height: 1%;
  color: #ea2e30; }
  @media only screen and (max-width: 56.25em) {
    .heading-2 {
      font-size: 4rem; } }
  @media only screen and (max-width: 28.75em) {
    .heading-2 {
      font-size: 3.7rem; } }

.heading-3 {
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  line-height: 120%; }
  @media only screen and (max-width: 56.25em) {
    .heading-3 {
      font-size: 2.5rem; } }

.heading-4 {
  color: #3d3f94;
  font-weight: 500;
  font-size: 2.4rem;
  text-transform: uppercase; }
  @media only screen and (max-width: 28.75em) {
    .heading-4 {
      font-size: 2rem; } }

.heading-5 {
  font-weight: 500;
  font-size: 1.5rem; }

.heading-6 {
  font-weight: 500;
  font-size: 1.7rem; }

.heading-7 {
  font-weight: 500;
  font-size: 1.6rem;
  text-transform: capitalize; }

.heading-8 {
  font-weight: 500;
  font-size: 1.8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 100%; }
  .heading-8::after {
    content: "";
    position: absolute;
    width: 78%;
    height: 1px;
    background-color: #000000;
    right: 0;
    flex-shrink: 1; }
    @media only screen and (max-width: 75em) {
      .heading-8::after {
        width: 65%; } }

.heading-9 {
  font-weight: 500;
  font-size: 1.2rem; }

.heading-10 {
  font-weight: 500;
  font-size: 1.6rem;
  color: #fff; }

.heading-11 {
  font-weight: 600;
  font-size: 2.5rem;
  color: #fff; }

.heading-12 {
  font-weight: 600;
  font-size: 6.5rem;
  line-height: 6rem;
  color: #3d3f94; }

.heading-sub {
  font-weight: 300;
  font-size: 1.4rem;
  text-align: center; }

.report-card__heading {
  font-weight: 400;
  font-size: 1.4rem; }

.popup-title {
  font-weight: 500;
  font-size: 2rem;
  color: #fff; }

.paragraph-popup-card {
  font-weight: 300;
  font-size: 1.4rem;
  color: #fff; }

.paragraph-1 {
  font-size: 1.8rem;
  line-height: 2.1rem;
  text-transform: uppercase; }

@keyframes mapZoomOutIn {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.4); }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); } }

@keyframes ZoomOut {
  0% {
    opacity: 0;
    transform: scale(1.4); }
  100% {
    opacity: 1;
    transform: scale(1); } }

@keyframes slideFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden; }
  100% {
    transform: translateY(0);
    opacity: 1;
    visibility: visible; } }

@keyframes slideFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
    visibility: hidden; }
  100% {
    transform: translateY(0);
    opacity: 1;
    visibility: visible; } }

.ZoomOut {
  animation: ZoomOut 1s ease-out 0.4s backwards; }

.slideFromTop {
  animation: slideFromTop 1s ease-out 0.4s backwards; }

.slideFromBottom {
  animation: slideFromBottom 1s ease-out 0.8s backwards; }

.margin-bottom-medium {
  margin-bottom: 4rem; }

.margin-bottom-small {
  margin-bottom: 2.5rem; }
  @media only screen and (max-width: 56.25em) {
    .margin-bottom-small {
      margin-bottom: 2rem; } }

.margin-left-0 {
  margin-left: 0 !important; }

.margin-top-medium {
  margin-top: 4rem; }

.margin-top-big {
  margin-top: 8rem; }

.margin-top-small {
  margin-top: 2.5rem; }

.centerAlign {
  text-align: center; }

.color-secondary {
  color: #ea2e30; }

.navigation-button {
  margin-left: auto;
  display: inline-block;
  user-select: none;
  cursor: pointer; }
  .navigation-button__icon {
    position: relative;
    margin-top: 0.9rem;
    user-select: none; }
    .navigation-button__icon, .navigation-button__icon::before, .navigation-button__icon::after {
      width: 3rem;
      height: 0.4rem;
      display: inline-block;
      background-color: #3d3f94;
      transition: all 0.3s; }
    .navigation-button__icon::before, .navigation-button__icon::after {
      content: "";
      position: absolute;
      right: 0; }
    .navigation-button__icon::before {
      top: -0.9rem; }
    .navigation-button__icon::after {
      top: 0.9rem; }
  .navigation-button:hover .navigation-button__icon::before {
    width: 2.4rem; }
  .navigation-button:hover .navigation-button__icon::after {
    width: 3.6rem; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  border: none;
  color: #fff;
  padding: 1.5rem 4rem;
  text-decoration: none;
  font-family: inherit;
  cursor: pointer;
  text-transform: capitalize;
  box-shadow: 0 0.3rem 1.1rem rgba(0, 0, 0, 0.25);
  transition: all 0.3s; }
  @media only screen and (max-width: 37.5em) {
    .btn:not(:last-child), .btn:link:not(:last-child), .btn:visited:not(:last-child) {
      margin-bottom: 1.5rem; } }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 0.7rem 1.5rem rgba(0, 0, 0, 0.4); }

.btn:active {
  transform: translateY(0);
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.35); }

.btn--blue {
  background-color: #3d3f94; }

.btn--red {
  background-color: #ea2e30; }

.btn--filter {
  background-color: #000000;
  border-radius: 3.8rem;
  padding: 1rem 2.5rem;
  align-self: flex-end;
  margin-left: 1.5rem;
  display: inline-block;
  border: none;
  text-transform: capitalize;
  text-decoration: none;
  color: #fff;
  font-family: inherit;
  cursor: pointer;
  box-shadow: 0 0.3rem 1.1rem rgba(0, 0, 0, 0.25);
  transition: all 0.3s; }
  .btn--filter:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.3); }
  .btn--filter:active {
    transform: translateY(0);
    box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.25); }
  .btn--filter:focus {
    outline: none; }

.btn--map-toggler {
  padding: 0.45rem 5.5rem;
  border-radius: 4.4rem;
  border: 0.3px solid #e0e0e0;
  cursor: pointer;
  background-color: transparent;
  color: #838383;
  font-family: inherit;
  transition: 0.3s; }
  .btn--map-toggler:not(:last-child) {
    margin-right: 2rem; }
  .btn--map-toggler:hover {
    background-color: #eeeeee; }
  .btn--map-toggler:focus {
    outline: none; }
  .btn--map-toggler--active {
    background-color: #ea2e30;
    color: #fff; }
    .btn--map-toggler--active:hover {
      background-color: #f05153; }
  @media only screen and (max-width: 28.75em) {
    .btn--map-toggler:not(:last-child) {
      margin-right: 0; } }

.btn--button {
  display: inline-block;
  border: none;
  color: #fff;
  padding: 1.5rem 4rem;
  text-decoration: none;
  font-family: inherit;
  text-transform: capitalize;
  cursor: pointer;
  box-shadow: 0 0.3rem 1.1rem rgba(0, 0, 0, 0.25);
  transition: all 0.3s; }
  @media only screen and (max-width: 37.5em) {
    .btn--button:not(:last-child) {
      margin-bottom: 1.5rem; } }
  .btn--button:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.3); }
  .btn--button:active {
    transform: translateY(0);
    box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.25); }
  .btn--button:focus {
    outline: none; }

.btn--pagination {
  border: none;
  display: inline-block;
  background-color: #c4c4c4;
  width: 3.6rem;
  height: 3.6rem;
  cursor: pointer;
  transition: 0.4s;
  color: #fff; }
  @media only screen and (max-width: 56.25em) {
    .btn--pagination {
      margin-bottom: 0.7rem; } }
  .btn--pagination:not(:last-child) {
    margin-right: 0.6rem; }
  .btn--pagination:hover {
    background-color: #b3b3b3;
    transform: translateY(-0.3rem); }
  .btn--pagination-active {
    background-color: #3d3f94; }

.btn--media {
  border: 2px solid #3d3f94;
  border-radius: 3.8rem;
  padding: 0.5rem 2.5rem;
  text-transform: capitalize;
  display: inline-block;
  cursor: pointer;
  color: #3d3f94;
  font-family: inherit;
  cursor: pointer;
  box-shadow: 0 0.3rem 1.1rem rgba(0, 0, 0, 0.25);
  transition: all 0.3s; }
  .btn--media:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.3); }
  .btn--media:active {
    transform: translateY(0);
    box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.25); }
  .btn--media:focus {
    outline: none; }
  .btn--media-active {
    color: #fff;
    background-color: #3d3f94; }

.header-seperator {
  margin-top: 13.7rem; }

.map__data {
  height: 48rem;
  border-radius: 0.3rem;
  background-color: #eee;
  font-size: 4rem;
  padding: 0;
  position: relative; }
  .map__data p {
    color: #d2d2d2;
    line-height: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  @media only screen and (max-width: 37.5em) {
    .map__data {
      height: 40rem; } }

.map__legend {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 0; }
  @media only screen and (max-width: 56.25em) {
    .map__legend > * {
      margin-bottom: 1.5rem; } }

.map__election-violence-data .map__legend, .map__never-situation-room .map__legend {
  user-select: none; }
  .map__election-violence-data .map__legend-icon, .map__never-situation-room .map__legend-icon {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    display: inline-block;
    margin-right: 1.1rem;
    vertical-align: middle; }
  .map__election-violence-data .map__legend-name, .map__never-situation-room .map__legend-name {
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    display: inline-block;
    vertical-align: middle; }
  .map__election-violence-data .map__legend--1 .map__legend-icon, .map__never-situation-room .map__legend--1 .map__legend-icon {
    background-color: #ea2e30; }
  .map__election-violence-data .map__legend--2 .map__legend-icon, .map__never-situation-room .map__legend--2 .map__legend-icon {
    background-color: #ffc700; }
  .map__election-violence-data .map__legend--3 .map__legend-icon, .map__never-situation-room .map__legend--3 .map__legend-icon {
    background-color: #10c501; }
  .map__election-violence-data .map__legend--4 .map__legend-icon, .map__never-situation-room .map__legend--4 .map__legend-icon {
    background-color: #b7b7b7; }
  .map__election-violence-data .map__legend--5 .map__legend-icon, .map__never-situation-room .map__legend--5 .map__legend-icon {
    background-color: #fff;
    border: 1px solid #d2d2d2; }
  .map__election-violence-data .map__legend [class*="map__legend--"]:not(:last-child), .map__never-situation-room .map__legend [class*="map__legend--"]:not(:last-child) {
    margin-right: 1.1rem; }

.map__current-elections--lowest-range, .map__current-elections--highest-range {
  font-weight: 600;
  font-size: 1.6rem;
  vertical-align: middle;
  display: inline-block; }

.map__current-elections--range-reader {
  background: linear-gradient(90deg, #e0e0e0 0%, #ea2e30 100%);
  border-radius: 4.4rem;
  height: 2.6rem;
  width: 45%;
  margin: 0 1.5rem; }

.map__never-situation-room, .map__current-elections {
  display: none; }

.map__toggler {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .map__toggler > * {
      margin-bottom: 1.5rem; } }

[class$="filter__label"] {
  display: block;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-family: inherit;
  margin-bottom: 0.45rem; }

[class$="filter__input"] {
  max-width: 13rem;
  background-color: #d2d2d2;
  padding: 1rem 1.2rem;
  border: none;
  border-radius: 0.2rem;
  font-family: inherit; }
  [class$="filter__input"]:focus {
    outline: none; }

.search-field {
  background-image: url(../img/search.png);
  background-position: 3% 50%;
  background-size: 1.3rem 1.3rem;
  background-repeat: no-repeat;
  padding-left: 15%; }

.date-field {
  background-image: url(../img/select-icon-2.png);
  background-position: 95% 50%;
  background-size: 1rem 1rem;
  background-repeat: no-repeat; }

.select-field {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url(../img/select-icon-2.png);
  background-position: 95% 50%;
  background-size: 1rem 1rem;
  background-repeat: no-repeat;
  padding-right: 5%;
  color: inherit; }

option {
  background-color: #000000;
  color: #838383; }

.year-marker {
  padding-left: 10rem;
  padding-right: 4rem;
  display: grid;
  grid-template-columns: repeat(11, 1fr); }
  @media only screen and (max-width: 56.25em) {
    .year-marker {
      padding-left: 2rem;
      padding-right: 0; } }
  @media only screen and (max-width: 37.5em) {
    .year-marker {
      padding-left: 0; } }
  @media only screen and (max-width: 28.75em) {
    .year-marker {
      grid-template-columns: repeat(1, 1fr); } }
  .year-marker__year {
    height: 3.5rem;
    border-right: 1px solid #d3d3d3;
    position: relative; }
    .year-marker__year:first-child {
      border-left: 1px solid #d3d3d3; }
    .year-marker__year::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 0.7px;
      background-color: #e0e0e0;
      display: block; }
    @media only screen and (max-width: 28.75em) {
      .year-marker__year {
        border: 1px solid #d3d3d3;
        height: 4.5rem; } }
  .year-marker__label {
    position: absolute;
    top: 100%;
    left: -50%;
    text-align: center;
    width: 100%;
    color: #818181;
    margin-top: 0.3rem;
    cursor: pointer; }
    @media only screen and (max-width: 56.25em) {
      .year-marker__label {
        font-size: 1.3rem; } }
    @media only screen and (max-width: 37.5em) {
      .year-marker__label {
        font-size: 1.2rem; } }
    @media only screen and (max-width: 28.75em) {
      .year-marker__label {
        font-size: 1.5rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 45%;
        z-index: 1; } }
  .year-marker__active {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background-color: #f2f2f2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: -2rem;
    left: -2.7rem;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    flex-direction: row;
    align-items: center; }
    @media only screen and (max-width: 28.75em) {
      .year-marker__active {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); } }
    .year-marker__active::before, .year-marker__active::after {
      content: "";
      position: absolute;
      border-width: 0.8rem;
      border-style: solid;
      align-self: center; }
    .year-marker__active::before {
      border-color: transparent #ea2e30 transparent transparent;
      left: -2rem; }
    .year-marker__active::after {
      border-color: transparent transparent transparent #ea2e30;
      right: -2rem; }
    .year-marker__active:focus {
      outline: none; }

.side-navigation-buttons {
  position: fixed;
  top: 38vh;
  right: 0;
  z-index: 40;
  transition: transform 0.3s; }
  .side-navigation-buttons__close {
    display: block;
    text-align: right;
    margin-bottom: 1rem;
    cursor: pointer;
    padding: 1rem 0.5rem 0.4rem 0;
    color: #3d3f94;
    transition: 0.3s; }
  .side-navigation-buttons__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 21rem; }
  .side-navigation-buttons__list-item {
    display: inline-block;
    margin: 0.3rem 0;
    width: 100%; }
  .side-navigation-buttons__link {
    text-transform: uppercase;
    padding: 1.2rem 0.4rem 1.3rem 1.5rem;
    text-decoration: none;
    font-weight: 300;
    color: #fff;
    display: block;
    border-radius: 3rem 0 0 3rem;
    transition: 1s;
    font-size: 1.25rem; }
    .side-navigation-buttons__link--1 {
      transform: translateX(8rem);
      background-color: #3d3f94; }
    .side-navigation-buttons__link--2 {
      transform: translateX(4rem);
      background-color: #ea2e30; }
    .side-navigation-buttons__link--3 {
      transform: translateX(1rem);
      background-color: #000000; }
    .side-navigation-buttons__link:hover {
      transform: translateX(0); }
  .side-navigation-buttons.close {
    transform: translateX(100%); }

.side-navigation-buttons__close {
  position: fixed;
  top: 30vh;
  right: 0;
  z-index: 40;
  display: block;
  text-align: right;
  margin-bottom: 1rem;
  cursor: pointer;
  padding: 1rem 0.5rem 0.4rem 0;
  color: #3d3f94;
  transition: 0.3s; }

.request-data-popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8); }
  @supports (backdrop-filter: blur(5px)) {
    .request-data-popup {
      backdrop-filter: blur(5px); } }
  .request-data-popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    border-radius: 0.5rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    background-color: #fff;
    padding: 3rem 1.8rem;
    transform: translate(-50%, -50%) scale(0.5);
    transition: 0.5s ease-out; }
    @media only screen and (max-width: 66.88em) {
      .request-data-popup__content {
        width: 55%; } }
    @media only screen and (max-width: 56.25em) {
      .request-data-popup__content {
        width: 65%; } }
    @media only screen and (max-width: 37.5em) {
      .request-data-popup__content {
        width: 80%; } }
    @media only screen and (max-width: 28.75em) {
      .request-data-popup__content {
        width: 95%; } }
  .request-data-popup:target {
    visibility: visible;
    opacity: 1; }
  .request-data-popup:target .request-data-popup__content {
    transform: translate(-50%, -50%) scale(1); }
  .request-data-popup__close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: #3d3f94;
    font-size: 3rem;
    cursor: pointer;
    vertical-align: middle;
    transition: 0.3s;
    text-decoration: none; }
    .request-data-popup__close:hover {
      transform: rotate(360deg); }

.input-group:not(:last-child) {
  margin-bottom: 1.5rem; }

.input__label {
  font-weight: 400;
  font-size: 1.05rem;
  display: block;
  margin-bottom: 0.35rem;
  text-transform: uppercase; }

.input__input {
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 0.5rem;
  padding: 1.2rem 1.4rem;
  border: none;
  resize: none; }
  .input__input:focus {
    outline: none; }
  .input__input::placeholder {
    color: #b7b7b7;
    font-family: "Work Sans", sans-serif; }

.form-search-field {
  background-image: url(../img/search.png);
  background-position: 3% 50%;
  background-size: 1.3rem 1.3rem;
  background-repeat: no-repeat;
  padding-left: 15%; }

.form-date-field::-webkit-inner-spin-button,
.form-date-field::-webkit-calendar-picker-indicator {
  width: 1rem;
  margin: 0;
  cursor: pointer;
  background-image: url(../img/select-icon-2.png);
  background-position: 95% 50%;
  background-size: 1rem 1rem;
  background-repeat: no-repeat; }

.form-select-field {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url(../img/select-icon-2.png);
  background-position: 95% 50%;
  background-size: 1rem 1rem;
  background-repeat: no-repeat;
  padding-right: 5%;
  color: inherit; }

option {
  background-color: #000000;
  color: #fff; }

.custom-checkbox__dropdown {
  padding-left: 2.5rem;
  margin-top: 1rem;
  transition: 0.3s;
  display: none; }
  .custom-checkbox__dropdown > div {
    margin-bottom: 0.6rem; }
  .custom-checkbox__dropdown.active {
    display: block; }

.custom-checkbox__input {
  display: none; }

.custom-checkbox__label {
  font-weight: 400;
  font-size: 1.3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding-left: 2.5rem;
  padding-top: 0.1rem; }
  .custom-checkbox__label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2rem;
    height: 2rem;
    border-radius: 0.3rem;
    border: 1px solid #3d3f94;
    color: #fff;
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, transform 0.1s, font-size 0.1s; }

.custom-checkbox__input:checked + .custom-checkbox__label::before {
  content: "✔";
  background-color: #3d3f94;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(61, 63, 148, 0.8), 0.3rem 0.3rem 0.6rem rgba(61, 63, 148, 0.4); }

.custom-checkbox__input:active + .custom-checkbox__label::before {
  transform: scale(0.8);
  font-size: 1.1rem; }

.report-card {
  background-color: #f2f2f2;
  box-shadow: 0.7rem 0.7rem 1.5rem rgba(0, 0, 0, 0.12);
  border-radius: 0.5rem;
  padding: 1.5rem;
  position: relative;
  transition: 0.5s;
  cursor: pointer; }
  .report-card::after {
    content: "";
    position: absolute;
    top: -1.5px;
    right: -1.5px;
    height: 50%;
    width: 50%;
    background-color: #3d3f94;
    z-index: -1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0);
    transition: 0.5s;
    border-top-right-radius: 0.5rem; }
  .report-card::before {
    content: "";
    position: absolute;
    bottom: -1.5px;
    left: -1.5px;
    height: 50%;
    width: 50%;
    background-color: #ea2e30;
    z-index: -1;
    clip-path: polygon(0 0, 100% 100%, 0 100%, 0 0);
    transition: 0.5s;
    border-bottom-left-radius: 0.5rem; }
  .report-card:hover {
    box-shadow: 0.3rem 0.3rem 1srem rgba(0, 0, 0, 0.2); }
  .report-card:hover::before, .report-card:hover::after {
    transform: scale(1.03); }
  .report-card__status {
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing: 0.03rem;
    display: block;
    margin-bottom: 2rem; }
    .report-card__status--ok {
      color: #0d9e00; }
  .report-card__date {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3.5rem;
    font-weight: 400;
    font-size: 1.1rem; }
    .report-card__date--time {
      margin-right: 1.5rem; }

.media-picture {
  display: none;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem; }
  @media only screen and (max-width: 75em) {
    .media-picture {
      grid-template-columns: repeat(4, 1fr); } }
  @media only screen and (max-width: 56.25em) {
    .media-picture {
      grid-template-columns: repeat(3, 1fr); } }
  @media only screen and (max-width: 37.5em) {
    .media-picture {
      grid-template-columns: repeat(2, 1fr); } }
  .media-picture__img {
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .media-picture > a {
    display: none; }

.media-video {
  display: none;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem; }
  @media only screen and (max-width: 75em) {
    .media-video {
      grid-template-columns: repeat(4, 1fr); } }
  @media only screen and (max-width: 56.25em) {
    .media-video {
      grid-template-columns: repeat(3, 1fr); } }
  @media only screen and (max-width: 37.5em) {
    .media-video {
      grid-template-columns: repeat(2, 1fr); } }
  .media-video > a {
    display: none; }

.media-active {
  display: grid; }

.requested-data-popop-1 {
  display: none;
  position: absolute;
  top: 20vh;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 3rem;
  z-index: 41; }
  .requested-data-popop-1__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .requested-data-popop-1__close-btn {
    font-size: 3rem;
    cursor: pointer;
    color: #fff;
    transition: 0.3s; }
    .requested-data-popop-1__close-btn:hover {
      transform: rotate(360deg); }
  .requested-data-popop-1__datas-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 5rem 0 2.5rem; }
  .requested-data-popop-1__datas {
    display: inline-block; }
    .requested-data-popop-1__datas:not(:last-child) {
      margin-right: 2.5rem; }
    .requested-data-popop-1__datas--stat, .requested-data-popop-1__datas--year {
      font-size: 14px;
      color: #fff;
      display: block; }
    .requested-data-popop-1__datas--stat {
      margin-bottom: 2rem; }
    .requested-data-popop-1__datas--bar {
      background-color: #ffc700;
      height: 20rem;
      width: 4.5rem; }
    .requested-data-popop-1__datas--year {
      margin-top: 2rem; }

.requested-data-popop-2 {
  display: none;
  position: absolute;
  width: 45rem;
  top: 20vh;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 3rem;
  z-index: 41; }
  .requested-data-popop-2__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .requested-data-popop-2__close-btn {
    font-size: 3rem;
    cursor: pointer;
    color: #fff;
    transition: 0.3s; }
    .requested-data-popop-2__close-btn:hover {
      transform: rotate(360deg); }
  .requested-data-popop-2__region-name {
    margin: 4rem 0; }
    .requested-data-popop-2__region-name-text {
      font-weight: 500;
      font-size: 2rem;
      color: #fff;
      display: inline-block;
      vertical-align: middle; }
  .requested-data-popop-2__region-icon {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #ffc700;
    vertical-align: middle;
    display: inline-block;
    margin-right: 0.4rem; }
  .requested-data-popop-2__stat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 1.2rem 0; }
    .requested-data-popop-2__stat-name {
      font-weight: 300;
      font-size: 1.1rem;
      color: #fff; }
    .requested-data-popop-2__stat-value {
      font-size: 14px;
      color: #fff; }
  .requested-data-popop-2__footer {
    margin-top: 5rem;
    font-weight: 400;
    font-size: 1.4rem;
    color: #fff; }
    .requested-data-popop-2__footer--location, .requested-data-popop-2__footer--time {
      display: block; }
    .requested-data-popop-2__footer--location {
      margin-bottom: 1rem; }

.popup-name {
  margin: 0 6rem;
  display: flex;
  flex-direction: row;
  align-items: center; }

.popup-img {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem; }

.state-card {
  display: none;
  position: absolute;
  width: 35rem;
  top: 20vh;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 3rem;
  z-index: 41; }
  .state-card__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .state-card__title-text {
      vertical-align: middle;
      color: #fff;
      font-weight: 400;
      font-size: 1.5rem; }
    .state-card__title-icon {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      background-color: #ea2e30;
      vertical-align: middle; }
  .state-card__name {
    margin: 2.5rem 0 3.5rem; }
  .state-card__stat-text, .state-card__stat-value {
    color: #fff;
    display: block; }
  .state-card__stat-text {
    font-weight: 300;
    font-size: 1.1rem; }
  .state-card__stat-value {
    font-weight: 400;
    font-size: 1.4rem; }

.pagination {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center; }
  .pagination__stages {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-right: 3rem; }
    @media only screen and (max-width: 56.25em) {
      .pagination__stages {
        margin-bottom: 2rem;
        margin-right: 0; } }
  .pagination__one-step {
    display: flex;
    flex-direction: row;
    align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .pagination__one-step {
        margin-bottom: 2rem; } }

.filter-popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8); }
  @supports (backdrop-filter: blur(5px)) {
    .filter-popup {
      backdrop-filter: blur(5px); } }
  .filter-popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    border-radius: 5px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    background-color: #fff;
    padding: 3.5rem 2rem;
    transform: translate(-50%, -50%) scale(0.5);
    transition: 0.5s ease-out; }
    @media only screen and (max-width: 37.5em) {
      .filter-popup__content {
        width: 70%; } }
    @media only screen and (max-width: 28.75em) {
      .filter-popup__content {
        width: 80%; } }
  .filter-popup:target {
    visibility: visible;
    opacity: 1; }
  .filter-popup:target .filter-popup__content {
    transform: translate(-50%, -50%) scale(1); }
  .filter-popup__nav-btn {
    display: none; }
    @media only screen and (max-width: 66.88em) {
      .filter-popup__nav-btn {
        display: inline-block; } }
  .filter-popup__data-btn {
    display: none; }
    @media only screen and (max-width: 56.25em) {
      .filter-popup__data-btn {
        display: block;
        text-align: center; } }
  .filter-popup__close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: #3d3f94;
    font-size: 3rem;
    cursor: pointer;
    vertical-align: middle;
    transition: 0.3s;
    text-decoration: none; }
    .filter-popup__close:hover {
      transform: rotate(360deg); }

.light-box {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
  top: 0;
  left: 0;
  z-index: 99999999;
  display: none; }
  .light-box.active {
    display: flex;
    align-items: center;
    justify-content: center; }

.report-popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8); }
  @supports (backdrop-filter: blur(5px)) {
    .report-popup {
      backdrop-filter: blur(5px); } }
  .report-popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    border-radius: 0.5rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    background-color: #fff;
    padding: 3rem 1.8rem;
    transform: translate(-50%, -50%) scale(0.5);
    transition: 0.5s ease-out; }
  .report-popup.active {
    visibility: visible;
    opacity: 1; }
  .report-popup.active .report-popup__content {
    transform: translate(-50%, -50%) scale(1); }

#loadMoreVideo {
  display: none; }

.row {
  width: 100%; }
  .row::after {
    content: "";
    display: table;
    clear: both; }

.center {
  max-width: 115rem;
  margin: 0 auto; }
  .center::after {
    content: "";
    display: table;
    clear: both; }
  @media only screen and (max-width: 75em) {
    .center {
      padding-left: 2.5rem;
      padding-right: 2.5rem; } }

.navigation__checkbox {
  display: none; }

.navigation__wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #3d3f94;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  z-index: 50;
  overflow-y: scroll; }

.navigation__checkbox:checked ~ .navigation__wrapper {
  transform: translate(-50%, -50%) scale(1); }

.navigation-header {
  padding: 4rem 0; }
  .navigation-header__header {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .navigation-header__title {
    font-weight: 300;
    font-size: 1.3rem;
    color: #fff;
    margin-left: 2rem; }

.navigation__button--close {
  margin-left: auto;
  color: #fff;
  font-size: 4rem;
  cursor: pointer;
  vertical-align: middle;
  transition: 0.3s; }
  .navigation__button--close:hover {
    transform: rotate(360deg); }

.navigation-links {
  display: flex;
  flex-flow: row wrap; }
  .navigation-links__link {
    display: flex;
    flex-direction: row;
    color: #fff;
    text-decoration: none;
    margin-bottom: 4.5rem;
    flex: 0 1 50%; }
    @media only screen and (max-width: 56.25em) {
      .navigation-links__link:nth-child(odd) {
        padding-right: 1rem; } }
    @media only screen and (max-width: 37.5em) {
      .navigation-links__link {
        flex: 0 1 100%; }
        .navigation-links__link:nth-child(odd) {
          padding-right: 0; } }
    .navigation-links__link-icon {
      font-size: 5rem; }
      @media only screen and (max-width: 75em) {
        .navigation-links__link-icon {
          font-size: 4rem; } }
      @media only screen and (max-width: 37.5em) {
        .navigation-links__link-icon {
          font-size: 3rem; } }
    .navigation-links__link-text {
      display: inline-block;
      margin-left: 3rem; }
      .navigation-links__link-text--top, .navigation-links__link-text--bottom {
        display: block; }
      .navigation-links__link-text--top {
        font-weight: 500;
        font-size: 2rem;
        margin-bottom: 1rem; }
      .navigation-links__link-text--bottom {
        font-weight: 300;
        font-size: 1.4rem; }

.navigation-footer {
  padding-bottom: 5rem;
  color: #fff; }
  .navigation-footer__heading {
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 1rem; }
  .navigation-footer__paragraph {
    font-weight: 300;
    font-size: 1.4rem; }
  .navigation-footer__cta {
    font-weight: 500;
    font-size: 2rem;
    color: #ffc700;
    text-decoration: none; }

.section-nav-link {
  padding: 3rem 0 1rem; }

.top-navigation {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10; }

.nav-main {
  padding: 3rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .nav-main {
      padding: 3rem 0 1.5rem; } }
  .nav-main__link:link, .nav-main__link:visited {
    color: #333333;
    font-size: 1.4rem;
    transition: all 0.4s;
    margin-right: 3rem;
    margin-left: 3rem; }
    @media only screen and (max-width: 37.5em) {
      .nav-main__link:link, .nav-main__link:visited {
        margin-right: 1rem;
        margin-left: 1rem;
        display: none; } }
  .nav-main__link:hover, .nav-main__link:active {
    color: #3d3f94;
    text-decoration: none;
    transform: translateY(-0.1rem); }
  .nav-main__link:active {
    transform: translateY(0); }
  .nav-main__link--mobile {
    display: none;
    text-align: center;
    color: #333333;
    font-size: 1.4rem;
    transition: all 0.4s; }
    @media only screen and (max-width: 37.5em) {
      .nav-main__link--mobile {
        display: block;
        padding: 0 0 1rem; } }

.nav-filter {
  padding: 3rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .nav-filter__filters {
    display: flex;
    flex-direction: row;
    align-items: center; }
    @media only screen and (max-width: 66.88em) {
      .nav-filter__filters {
        display: none; } }
  .nav-filter__state {
    border-left: 1.5px solid #d2d2d2;
    border-right: 1.5px solid #d2d2d2;
    padding: 0 1.5rem;
    margin: 0 1.5rem; }

.header-intro {
  position: fixed;
  height: calc(100vh - 8.8rem);
  width: 100vw;
  top: 8.8rem;
  left: 0; }
  .header-intro__map {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: mapZoomOutIn;
    animation-duration: 01s;
    animation-timing-function: ease-out; }
    @media only screen and (max-width: 37.5em) {
      .header-intro__map {
        width: 90%; } }
    .header-intro__map-img {
      object-fit: cover; }
      @media only screen and (max-width: 37.5em) {
        .header-intro__map-img {
          width: 100%;
          height: auto; } }
  .header-intro__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    @media only screen and (max-width: 56.25em) {
      .header-intro__content {
        width: 80%; } }
    @media only screen and (max-width: 37.5em) {
      .header-intro__content {
        width: 90%; } }

.data-filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .data-filter__state {
    border-right: 1.5px solid #d2d2d2;
    padding-right: 1.5rem;
    margin-right: 1.5rem; }
  @media only screen and (max-width: 56.25em) {
    .data-filter {
      display: none; } }

.election-details {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }
  @media only screen and (max-width: 28.75em) {
    .election-details {
      display: flex;
      flex-direction: row;
      justify-content: center; } }
  .election-details__infos {
    display: grid;
    grid-template-columns: repeat(3, minmax(21rem, 23rem));
    margin-top: 1.1rem; }
    .election-details__infos-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-bottom: 1.2rem; }
    .election-details__infos-texts {
      margin-left: 1.2rem; }
      .election-details__infos-texts--title {
        font-weight: 300;
        font-size: 1.4rem;
        display: block;
        margin-bottom: 0.3rem; }
      .election-details__infos-texts--value {
        font-weight: bold;
        font-size: 1.4rem;
        line-height: 1.6rem;
        letter-spacing: 0.045rem;
        display: block; }
    @media only screen and (max-width: 56.25em) {
      .election-details__infos {
        grid-template-columns: repeat(2, 1fr); } }
    @media only screen and (max-width: 28.75em) {
      .election-details__infos {
        grid-template-columns: repeat(1, 1fr); } }

.population-data {
  display: flex;
  flex-direction: row; }
  .population-data__chart {
    height: auto; }
    @media only screen and (max-width: 56.25em) {
      .population-data__chart {
        width: 30rem; } }
    @media only screen and (max-width: 37.5em) {
      .population-data__chart {
        width: 20rem; } }
  .population-data__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1rem;
    position: relative; }
    .population-data__info--off-track-value {
      color: #3d3f94;
      font-size: 1.9rem;
      line-height: 2.1rem;
      font-weight: bold;
      display: block;
      margin-top: 0.5rem; }
    .population-data__info--population {
      text-align: right;
      position: absolute;
      top: 55%;
      left: -140%; }
      .population-data__info--population-label {
        line-height: 450%; }

.report-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem; }
  @media only screen and (max-width: 56.25em) {
    .report-form {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 3rem 0; } }
  .report-form__events {
    margin-top: 5.5rem; }
  .report-form__event-category {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 2rem; }
    .report-form__event-category > div {
      flex-basis: 50%;
      margin-bottom: 2rem; }
      @media only screen and (max-width: 28.75em) {
        .report-form__event-category > div {
          flex-basis: 100%; } }
  .report-form__map {
    height: 300px;
    background-color: #d3d3d3;
    border-radius: 0.5rem;
    margin-bottom: 2rem; }

.report-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem; }
  @media only screen and (max-width: 56.25em) {
    .report-cards {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 3.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .report-cards {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 3rem 0; } }

.report-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center; }
  .report-header__filter {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .report-header__filter--search {
      margin-right: 2.5rem; }
    .report-header__filter--label {
      font-size: 1.3rem;
      text-transform: uppercase;
      vertical-align: middle; }
    .report-header__filter--input {
      max-width: 13rem;
      background-color: #d2d2d2;
      padding: 1rem 1.2rem;
      border: none;
      border-radius: 0.2rem;
      font-family: inherit; }
      .report-header__filter--input:focus {
        outline: none; }
    .report-header__filter--input-search {
      background-image: url(../img/search.png);
      background-position: 3% 50%;
      background-size: 1.3rem 1.3rem;
      background-repeat: no-repeat;
      padding-left: 10%; }
    .report-header__filter--input-select {
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background-image: url(../img/select-icon-2.png);
      background-position: 95% 50%;
      background-size: 1rem 1rem;
      background-repeat: no-repeat;
      padding-right: 5%;
      color: inherit; }
    @media only screen and (max-width: 66.88em) {
      .report-header__filter {
        display: none; } }

.publication-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center; }
  .publication-header__filter {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .publication-header__filter--search {
      margin-right: 2.5rem;
      margin-left: 10rem; }
    .publication-header__filter--label {
      font-size: 1.3rem;
      text-transform: uppercase;
      vertical-align: middle; }
    .publication-header__filter--input {
      max-width: 13rem;
      background-color: #d2d2d2;
      padding: 1rem 1.2rem;
      border: none;
      border-radius: 0.2rem; }
      .publication-header__filter--input:focus {
        outline: none; }
    @media only screen and (max-width: 66.88em) {
      .publication-header__filter {
        display: none; } }

.publication-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 7rem; }
  .publication-content__publications, .publication-content__newsletters {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    padding: 4rem 0 5rem; }
    @media only screen and (max-width: 75em) {
      .publication-content__publications, .publication-content__newsletters {
        grid-template-columns: repeat(3, 1fr); } }
  .publication-content__each {
    height: auto;
    width: 100%;
    object-fit: cover;
    display: block;
    margin-bottom: 2rem; }
  @media only screen and (max-width: 56.25em) {
    .publication-content {
      grid-template-columns: repeat(1, 1fr);
      grid-row-gap: 3rem; } }

.slider-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .slider-holder__navigator {
    cursor: pointer; }
  .slider-holder__electoral-vio {
    display: none; }

.footer {
  background-color: #3d3f94;
  padding: 5rem 0; }
  .footer-content {
    display: flex;
    flex-flow: row wrap;
    color: #fff; }
    .footer-content__logo-text {
      font-size: 3.5rem;
      line-height: 4.2rem; }
      @media only screen and (max-width: 37.5em) {
        .footer-content__logo-text {
          font-size: 3rem;
          line-height: 4rem; } }
    .footer-content__social-handles {
      margin-left: 10rem;
      margin-right: 2.5rem;
      padding-right: 2.5rem;
      border-right: 1px solid #fff; }
      @media only screen and (max-width: 37.5em) {
        .footer-content__social-handles {
          order: 1; } }
      .footer-content__social-handles a {
        color: #fff;
        font-size: 2rem;
        transition: 0.3s;
        display: inline-block; }
        .footer-content__social-handles a:not(:last-child) {
          margin-right: 2rem;
          margin-bottom: 1.5rem; }
        .footer-content__social-handles a:hover {
          transform: translateY(-0.3rem); }
        .footer-content__social-handles a:active {
          transform: translateY(-0.15rem); }
    .footer-content__label {
      text-transform: uppercase;
      font-size: 1.4rem;
      display: block;
      margin-bottom: 3rem;
      letter-spacing: 0.28rem; }
      @media only screen and (max-width: 37.5em) {
        .footer-content__label {
          margin-bottom: 1.7rem; } }
    @media only screen and (max-width: 37.5em) {
      .footer-content > * {
        flex: 0 0 100%;
        margin-left: 0;
        margin-right: 0;
        text-align: center;
        padding-right: 0;
        border-right: none; }
        .footer-content > *:not(:nth-child(2)) {
          margin-bottom: 4rem; } }

.section-map {
  padding: 6rem 0; }
  @media only screen and (max-width: 66.88em) {
    .section-map {
      padding: 4rem 0; } }

.section-data-filter {
  padding: 6rem 0; }

.section-year-marker {
  padding: 6rem 0 10rem; }

.section-population-data {
  padding: 3rem 13rem 0; }
  @media only screen and (max-width: 56.25em) {
    .section-population-data {
      padding: 3rem 0; } }

.section-election-details {
  padding: 3rem 13rem 6rem; }
  @media only screen and (max-width: 56.25em) {
    .section-election-details {
      padding: 3rem 0; } }

.section-report-form {
  padding: 0 0 8rem 0; }

.section-find-a-location {
  padding: 0 0 6rem 0; }
  .section-find-a-location__label {
    font-weight: 500;
    font-size: 1.2; }

.section-success-message {
  position: relative;
  height: calc(100vh - 8.8rem);
  margin-top: 8.8rem; }
  .section-success-message > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .section-success-message h3 {
    margin-top: 3rem;
    margin-bottom: 3.5rem; }

.header-report {
  padding: 6rem 0; }

.section-reports {
  padding: 0 0 6rem; }

.section-pagination {
  margin: 2rem 0 6rem; }

.section-media {
  padding: 0 0 6rem; }

.article-methodology {
  padding: 6rem 0; }
  .article-methodology p {
    font-size: 1.4rem;
    margin-bottom: 3rem;
    margin-top: 0.7rem;
    font-weight: 300; }
  .article-methodology__img {
    display: block;
    height: auto;
    margin-bottom: 4rem;
    margin-top: 4rem;
    width: 70%;
    margin-left: auto;
    margin-right: auto; }

.article-reporter {
  padding: 6rem 0; }
  .article-reporter p {
    font-size: 1.4rem;
    margin-bottom: 3rem;
    margin-top: 0.7rem;
    font-weight: 300; }
  .article-reporter__contact {
    color: #ea2e30; }

.landing-intro {
  height: calc(80vh - 8.8rem);
  width: 100vw; }
  .landing-intro__map {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: mapZoomOutIn;
    animation-duration: 01s;
    animation-timing-function: ease-out; }
    @media only screen and (max-width: 37.5em) {
      .landing-intro__map {
        width: 90%; } }
    .landing-intro__map-img {
      object-fit: cover;
      width: 70%;
      margin-left: 15%;
      margin-right: 15%; }
      @media only screen and (max-width: 37.5em) {
        .landing-intro__map-img {
          width: 100%;
          height: auto;
          margin-left: auto;
          margin-right: auto; } }
  .landing-intro__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    @media only screen and (max-width: 56.25em) {
      .landing-intro__content {
        width: 80%; } }
    @media only screen and (max-width: 37.5em) {
      .landing-intro__content {
        width: 90%; } }
