.input {
  &-group {
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }
  &__label {
    font-weight: 400;
    font-size: 1.05rem;
    display: block;
    margin-bottom: 0.35rem;
    text-transform: uppercase;
  }
  &__input {
    width: 100%;
    background-color: $color-grey-7;
    border-radius: 0.5rem;
    padding: 1.2rem 1.4rem;
    border: none;
    resize: none;

    &:focus {
      outline: none;
    }
    &::placeholder {
      color: $color-grey-1;
      font-family: "Work Sans", sans-serif;
    }
  }
}

.form-search-field {
  background-image: url(../img/search.png);
  background-position: 3% 50%;
  background-size: 1.3rem 1.3rem;
  background-repeat: no-repeat;
  padding-left: 15%;
}

.form-date-field::-webkit-inner-spin-button,
.form-date-field::-webkit-calendar-picker-indicator {
  // display: none;
  // -webkit-appearance: none;
  // opacity: 0;

  width: 1rem;
  margin: 0;
  cursor: pointer;
  // z-index: 999999;

  background-image: url(../img/select-icon-2.png);
  background-position: 95% 50%;
  background-size: 1rem 1rem;
  background-repeat: no-repeat;
}

.form-date-field {
  // padding-top: 0.8rem;
  // padding-bottom: 0.8rem;

  // background-image: url(../../img/select-icon-2.png);
  // background-position: 95% 50%;
  // background-size: 1rem 1rem;
  // background-repeat: no-repeat;
}

.form-select-field {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  background-image: url(../img/select-icon-2.png);
  background-position: 95% 50%;
  background-size: 1rem 1rem;
  background-repeat: no-repeat;
  padding-right: 5%;

  color: inherit;
}

option {
  background-color: $color-black;
  color: $color-white;
}
