.light-box {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color-black, 0.8);
  backdrop-filter: blur(5px);
  top: 0;
  left: 0;
  z-index: 99999999;
  display: none;

  &.active {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
