.map {
  &__data {
    height: 48rem;
    border-radius: 0.3rem;

    background-color: #eee;
    font-size: 4rem;
    padding: 0;
    position: relative;

    p {
      color: $color-grey-dark-1;
      line-height: 3rem;
      @include centerContent;
    }

    @include responsive(phone) {
      height: 40rem;
    }
  }

  &__legend {
    @include flex-rowwrap-jccenter-aicenter;
    padding: 2.5rem 0;
    @include responsive(tab-port) {
      & > * {
        margin-bottom: 1.5rem;
      }
    }
  }

  &__election-violence-data,
  &__never-situation-room {
    .map__legend {
      user-select: none;
      &-icon {
        width: 1.8rem;
        height: 1.8rem;
        border-radius: 50%;
        display: inline-block;
        margin-right: 1.1rem;
        vertical-align: middle;
      }
      &-name {
        font-size: 1.6rem;
        font-weight: 500;
        letter-spacing: 0.1rem;
        display: inline-block;
        vertical-align: middle;
      }
      &--1 {
        .map__legend-icon {
          background-color: $color-secondary;
        }
      }
      &--2 {
        .map__legend-icon {
          background-color: $color-yellow-1;
        }
      }
      &--3 {
        .map__legend-icon {
          background-color: $color-green-1;
        }
      }
      &--4 {
        .map__legend-icon {
          background-color: $color-grey-1;
        }
      }
      &--5 {
        .map__legend-icon {
          background-color: $color-white;
          border: 1px solid $color-grey-dark-1;
        }
      }

      [class*="map__legend--"]:not(:last-child) {
        margin-right: 1.1rem;
      }
    }
  }

  &__current-elections {
    &--lowest-range,
    &--highest-range {
      font-weight: 600;
      font-size: 1.6rem;
      vertical-align: middle;
      display: inline-block;
    }

    &--range-reader {
      background: linear-gradient(90deg, #e0e0e0 0%, #ea2e30 100%);
      border-radius: 4.4rem;
      height: 2.6rem;
      width: 45%;
      margin: 0 1.5rem;
    }
  }

  // &__election-violence-data,
  &__never-situation-room,
  &__current-elections {
    display: none;
  }

  &__toggler {
    @include flex-rowwrap-jccenter-aicenter;
    @include responsive(tab-port) {
      & > * {
        margin-bottom: 1.5rem;
      }
    }
  }
}
