.media {
  &-picture {
    display: none;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;

    @include responsive(tab-land) {
      grid-template-columns: repeat(4, 1fr);
    }
    @include responsive(tab-port) {
      grid-template-columns: repeat(3, 1fr);
    }
    @include responsive(phone) {
      grid-template-columns: repeat(2, 1fr);
    }

    &__img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    & > a {
      display: none;
    }
  }
  &-video {
    display: none;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;

    @include responsive(tab-land) {
      grid-template-columns: repeat(4, 1fr);
    }
    @include responsive(tab-port) {
      grid-template-columns: repeat(3, 1fr);
    }
    @include responsive(phone) {
      grid-template-columns: repeat(2, 1fr);
    }
    & > a {
      display: none;
    }
  }

  &-active {
    display: grid;
  }
}
