.pagination {
  @include flex-rowwrap-jccenter-aicenter;

  &__stages {
    @include flex-rowwrap-jccenter-aicenter;
    margin-right: 3rem;
    @include responsive(tab-port) {
      margin-bottom: 2rem;
      margin-right: 0;
    }
  }
  &__one-step {
    @include flex-row-aicenter;
    @include responsive(tab-port) {
      margin-bottom: 2rem;
    }
  }
}
