.request-data-popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  visibility: hidden;
  opacity: 0;
  background-color: rgba($color-black, 0.8);
  @supports (backdrop-filter: blur(5px)) {
    backdrop-filter: blur(5px);
  }
  &__content {
    @include centerContent;
    width: 45%;
    // height: 60rem;
    border-radius: 0.5rem;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
    background-color: $color-white;
    padding: 3rem 1.8rem;
    transform: translate(-50%, -50%) scale(0.5);
    transition: 0.5s ease-out;
    @include responsive(tab-land-small) {
      width: 55%;
    }
    @include responsive(tab-port) {
      width: 65%;
    }
    @include responsive(phone) {
      width: 80%;
    }
    @include responsive(small-phone) {
      width: 95%;
    }
  }

  &:target {
    visibility: visible;
    opacity: 1;
  }
  &:target &__content {
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: $color-primary;
    font-size: 3rem;
    cursor: pointer;
    vertical-align: middle;
    transition: 0.3s;
    text-decoration: none;
    &:hover {
      transform: rotate(360deg);
    }
  }
}
