.side-navigation-buttons {
  position: fixed;
  top: 38vh;
  right: 0;
  z-index: 40;
  transition: transform 0.3s;

  // display: none;

  //   background-color: red;
  //   width: 200px;
  &__close {
    display: block;
    // font-size: 2.5rem;
    text-align: right;
    margin-bottom: 1rem;
    cursor: pointer;
    padding: 1rem 0.5rem 0.4rem 0;
    color: $color-primary;
    transition: 0.3s;
  }

  &__list {
    list-style: none;
    @include flex-column;
    width: 21rem;
  }

  &__list-item {
    display: inline-block;
    margin: 0.3rem 0;
    width: 100%;
  }

  &__link {
    text-transform: uppercase;
    padding: 1.2rem 0.4rem 1.3rem 1.5rem;
    text-decoration: none;
    font-weight: 300;
    color: $color-white;
    display: block;
    border-radius: 3rem 0 0 3rem;
    transition: 1s;
    font-size: 1.25rem;
    &--1 {
      transform: translateX(8rem);
      background-color: $color-primary;
    }
    &--2 {
      transform: translateX(4rem);
      background-color: $color-secondary;
    }
    &--3 {
      transform: translateX(1rem);
      background-color: $color-black;
    }
    &:hover {
      transform: translateX(0);
    }
  }

  &.close {
    transform: translateX(100%);
  }
}

.side-navigation-buttons__close {
  position: fixed;
  top: 30vh;
  right: 0;
  z-index: 40;
  display: block;
  // font-size: 2.5rem;
  text-align: right;
  margin-bottom: 1rem;
  cursor: pointer;
  padding: 1rem 0.5rem 0.4rem 0;
  color: $color-primary;
  transition: 0.3s;
}
