.state-card {
  display: none;

  position: absolute;
  width: 35rem;
  top: 20vh;
  right: 0;
  background-color: rgba($color-black, 0.9);
  padding: 3rem;
  z-index: 41;

  &__title {
    @include flex-row-jcbetween-aicenter;

    &-text {
      vertical-align: middle;
      color: $color-white;
      font-weight: 400;
      font-size: 1.5rem;
    }
    &-icon {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      background-color: $color-secondary;
      vertical-align: middle;
      //   display: inline-block;
    }
  }

  &__name {
    margin: 2.5rem 0 3.5rem;
  }
  &__stat {
    &-text,
    &-value {
      color: $color-white;
      display: block;
    }
    &-text {
      font-weight: 300;
      font-size: 1.1rem;
    }
    &-value {
      font-weight: 400;
      font-size: 1.4rem;
    }
  }
}
