.year-marker {
  padding-left: 10rem;
  padding-right: 4rem;
  display: grid;
  grid-template-columns: repeat(11, 1fr);

  @include responsive(tab-port) {
    padding-left: 2rem;
    padding-right: 0;
  }
  @include responsive(phone) {
    padding-left: 0;
  }
  @include responsive(small-phone) {
    grid-template-columns: repeat(1, 1fr);
  }

  &__year {
    height: 3.5rem;
    border-right: 1px solid $color-grey-5;
    position: relative;
    &:first-child {
      border-left: 1px solid $color-grey-5;
    }

    &::before {
      content: "";
      @include centerContent;
      width: 100%;
      height: 0.7px;
      background-color: $color-grey-3;
      display: block;
    }

    @include responsive(small-phone) {
      border: 1px solid $color-grey-5;
      height: 4.5rem;
    }
  }

  &__label {
    position: absolute;
    top: 100%;
    left: -50%;
    text-align: center;
    width: 100%;
    color: $color-grey-6;
    margin-top: 0.3rem;
    cursor: pointer;

    @include responsive(tab-port) {
      font-size: 1.3rem;
    }
    @include responsive(phone) {
      font-size: 1.2rem;
    }
    @include responsive(small-phone) {
      font-size: 1.5rem;
      @include centerContent;
      top: 45%;
      z-index: 1;
    }
  }

  &__active {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background-color: $color-grey-7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: -2rem;
    left: -2.7rem;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    @include flex-row-aicenter;

    @include responsive(small-phone) {
      @include centerContent;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      border-width: 0.8rem;
      border-style: solid;
      align-self: center;
    }
    &::before {
      border-color: transparent $color-secondary transparent transparent;
      left: -2rem;
    }
    &::after {
      border-color: transparent transparent transparent $color-secondary;
      right: -2rem;
    }
    &:focus {
      outline: none;
    }
  }
}
