@keyframes mapZoomOutIn {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.4);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes ZoomOut {
  0% {
    opacity: 0;
    transform: scale(1.4);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes slideFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

.ZoomOut {
  animation: ZoomOut 1s ease-out 0.4s backwards;
}

.slideFromTop {
  animation: slideFromTop 1s ease-out 0.4s backwards;
}

.slideFromBottom {
  animation: slideFromBottom 1s ease-out 0.8s backwards;
}
