body {
  font-family: "Work Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.7rem;
  font-weight: 500;
  color: $color-grey-dark;
}

.heading-primary {
  color: $color-primary;
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 400;

  animation: slideFromTop 1s ease-out 0.4s backwards;
  // animation: name duration timing-function delay iteration-count direction fill-mode;
  // animation-name: slideFromTop;
  // animation-duration: .6s;

  @include responsive(small-phone) {
    font-size: 2.5rem;
  }
}

.heading-1 {
  font-weight: 300;
  font-size: 2rem;
  line-height: 2.1rem;
  color: $color-grey-dark;
}

.heading-2 {
  font-weight: bold;
  font-size: 6.5rem;
  line-height: 1%;
  color: $color-secondary;
  @include responsive(tab-port) {
    font-size: 4rem;
  }
  @include responsive(small-phone) {
    font-size: 3.7rem;
  }
}

.heading-3 {
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  line-height: 120%;
  @include responsive(tab-port) {
    font-size: 2.5rem;
  }
}

.heading-4 {
  color: $color-primary;
  font-weight: 500;
  font-size: 2.4rem;
  text-transform: uppercase;

  @include responsive(small-phone) {
    font-size: 2rem;
  }
}

.heading-5 {
  font-weight: 500;
  font-size: 1.5rem;
}

.heading-6 {
  font-weight: 500;
  font-size: 1.7rem;
}

.heading-7 {
  font-weight: 500;
  font-size: 1.6rem;
  text-transform: capitalize;
}

.heading-8 {
  font-weight: 500;
  font-size: 1.8rem;
  @include flex-row-aicenter;
  position: relative;
  width: 100%;
  &::after {
    content: "";
    position: absolute;
    width: 78%;
    height: 1px;
    background-color: $color-black;
    right: 0;
    flex-shrink: 1;

    @include responsive(tab-land) {
      width: 65%;
    }
  }
}

.heading-9 {
  font-weight: 500;
  font-size: 1.2rem;
}

.heading-10 {
  font-weight: 500;
  font-size: 1.6rem;
  color: $color-white;
}

.heading-11 {
  font-weight: 600;
  font-size: 2.5rem;
  color: $color-white;
}

.heading-12 {
  font-weight: 600;
  font-size: 6.5rem;
  line-height: 6rem;
  color: $color-primary;
}

.heading-sub {
  font-weight: 300;
  font-size: 1.4rem;
  text-align: center;
}

.report-card__heading {
  font-weight: 400;
  font-size: 1.4rem;
}

.popup-title {
  font-weight: 500;
  font-size: 2rem;
  color: $color-white;
}

.paragraph-popup-card {
  font-weight: 300;
  font-size: 1.4rem;
  color: $color-white;
}

.paragraph-1 {
  font-size: 1.8rem;
  line-height: 2.1rem;
  text-transform: uppercase;
}
