.margin-bottom-medium {
  margin-bottom: 4rem;
}
.margin-bottom-small {
  margin-bottom: 2.5rem;
  @include responsive(tab-port) {
    margin-bottom: 2rem;
  }
}
.margin-left-0 {
  margin-left: 0 !important;
}

.margin-top-medium {
  margin-top: 4rem;
}

.margin-top-big {
  margin-top: 8rem;
}

.margin-top-small {
  margin-top: 2.5rem;
}

.centerAlign {
  text-align: center;
}

.color-secondary {
  color: $color-secondary;
}
