.landing-intro {
  //   @include centerContent;
  height: calc(80vh - 8.8rem);
  width: 100vw;
  //   top: 8.8rem;
  //   left: 0;

  &__map {
    @include centerContent;
    // height: 85%;

    animation-name: mapZoomOutIn;
    animation-duration: 01s;
    animation-timing-function: ease-out;

    @include responsive(phone) {
      width: 90%;
    }

    &-img {
      object-fit: cover;
      width: 70%;
      margin-left: 15%;
      margin-right: 15%;
      @include responsive(phone) {
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  &__content {
    @include centerContent;
    text-align: center;

    @include responsive(tab-port) {
      width: 80%;
    }
    @include responsive(phone) {
      width: 90%;
    }
  }
}
