.section-success-message {
  position: relative;
  height: calc(100vh - 8.8rem);
  margin-top: 8.8rem;
  & > div {
    @include centerContent;
    text-align: center;
  }

  h3 {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
  }
}
