.data-filter {
  @include flex-row-jccenter-aicenter;

  &__state {
    border-right: 1.5px solid $color-grey-dark-1;
    padding-right: 1.5rem;
    margin-right: 1.5rem;
  }
  @include responsive(tab-port) {
    display: none;
  }
}
