.election-details {
  @include flex-row-jcend;

  @include responsive(small-phone) {
    @include flex-row-jccenter;
  }

  &__content {
  }

  &__infos {
    display: grid;
    grid-template-columns: repeat(3, minmax(21rem, 23rem));
    margin-top: 1.1rem;

    &-container {
      @include flex-row-aicenter;
      padding-bottom: 1.2rem;
    }

    &-texts {
      margin-left: 1.2rem;

      &--title {
        font-weight: 300;
        font-size: 1.4rem;
        display: block;
        margin-bottom: 0.3rem;
      }

      &--value {
        font-weight: bold;
        font-size: 1.4rem;
        line-height: 1.6rem;
        letter-spacing: 0.045rem;
        display: block;
      }
    }

    // & > div {
    //   height: 100px;
    //   &:nth-child(odd) {
    //     // background-color: red;
    //   }
    //   &:nth-child(even) {
    //     background-color: green;
    //   }
    // }

    @include responsive(tab-port) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include responsive(small-phone) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
