.footer {
  background-color: $color-primary;
  padding: 5rem 0;

  &-content {
    @include flex-rowwrap;
    color: $color-white;

    &__logo-text {
      font-size: 3.5rem;
      line-height: 4.2rem;
      @include responsive(phone) {
        font-size: 3rem;
        line-height: 4rem;
      }
    }

    &__social-handles {
      margin-left: 10rem;
      margin-right: 2.5rem;
      padding-right: 2.5rem;
      border-right: 1px solid $color-white;

      @include responsive(phone) {
        order: 1;
      }

      a {
        color: $color-white;
        font-size: 2rem;
        transition: 0.3s;
        display: inline-block;
        &:not(:last-child) {
          margin-right: 2rem;
          margin-bottom: 1.5rem;
        }
        &:hover {
          transform: translateY(-0.3rem);
        }
        &:active {
          transform: translateY(-0.15rem);
        }
      }
    }

    &__label {
      text-transform: uppercase;
      font-size: 1.4rem;
      display: block;
      margin-bottom: 3rem;
      letter-spacing: 0.28rem;

      @include responsive(phone) {
        margin-bottom: 1.7rem;
      }
    }

    @include responsive(phone) {
      & > * {
        flex: 0 0 100%;
        margin-left: 0;
        margin-right: 0;
        text-align: center;
        padding-right: 0;
        border-right: none;
        &:not(:nth-child(2)) {
          margin-bottom: 4rem;
        }
      }
    }
  }
}
