.nav-filter {
  padding: 3rem 0;
  @include flex-row-jcbetween-aicenter;

  &__filters {
    @include flex-row-aicenter;
    @include responsive(tab-land-small) {
      display: none;
    }
  }

  // &__label {
  //   display: block;
  //   text-transform: uppercase;
  //   font-size: 1.3rem;
  //   font-family: inherit;

  //   margin-bottom: 0.45rem;
  // }

  // &__input {
  //   max-width: 13rem;
  //   background-color: $color-grey-dark-1;
  //   padding: 1rem 1.2rem;
  //   border: none;
  //   border-radius: 0.2rem;

  //   &:focus {
  //     outline: none;
  //   }
  // }

  &__search {
  }

  &__state {
    border-left: 1.5px solid $color-grey-dark-1;
    border-right: 1.5px solid $color-grey-dark-1;
    padding: 0 1.5rem;
    margin: 0 1.5rem;
  }
}
