.population-data {
  @include flex-row;

  &__chart {
    height: auto;
    // width: 26.7rem;
    // border-radius: 50%;
    // border: 4rem solid $color-black;
    // border-top-color: currentcolor;
    @include responsive(tab-port) {
      width: 30rem;
    }
    @include responsive(phone) {
      width: 20rem;
    }
  }
  &__info {
    @include flex-column-jcbetween;
    margin-left: 1rem;
    position: relative;
    // width: 400px;

    &--off-track {
      &-value {
        color: $color-primary;
        font-size: 1.9rem;
        line-height: 2.1rem;
        font-weight: bold;
        display: block;
        margin-top: 0.5rem;
      }
    }

    &--population {
      // transform: translate(-45%, 3rem);
      text-align: right;
      position: absolute;
      top: 55%;
      left: -140%;

      &-label {
        line-height: 450%;
      }
    }
  }
}
