.report-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;

  @include responsive(tab-port) {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3rem 0;
  }

  &__events {
    margin-top: 5.5rem;
  }

  &__event-category {
    @include flex-rowwrap-jcbetween-aistart;
    margin-top: 2rem;
    & > div {
      flex-basis: 50%;
      margin-bottom: 2rem;

      @include responsive(small-phone) {
        flex-basis: 100%;
      }
    }
  }

  &__map {
    height: 300px;
    background-color: $color-grey-5;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    // @include flex-row-jccenter-aicenter;
  }
}
