.report-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem;

  @include responsive(tab-port) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3.5rem;
  }
  @include responsive(phone) {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3rem 0;
  }
}
