.report-header {
  @include flex-rowwrap-jcbetween-aicenter;

  &__filter {
    @include flex-row-aicenter;

    &--search {
      margin-right: 2.5rem;
    }
    &--time {
    }
    &--label {
      font-size: 1.3rem;
      text-transform: uppercase;
      vertical-align: middle;
    }
    &--input {
      max-width: 13rem;
      background-color: $color-grey-dark-1;
      padding: 1rem 1.2rem;
      border: none;
      border-radius: 0.2rem;
      font-family: inherit;

      &:focus {
        outline: none;
      }
    }
    &--input-search {
      background-image: url(../img/search.png);
      background-position: 3% 50%;
      background-size: 1.3rem 1.3rem;
      background-repeat: no-repeat;
      padding-left: 10%;
    }
    &--input-select {
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;

      background-image: url(../img/select-icon-2.png);
      background-position: 95% 50%;
      background-size: 1rem 1rem;
      background-repeat: no-repeat;
      padding-right: 5%;

      color: inherit;
    }

    @include responsive(tab-land-small) {
      display: none;
    }
  }
}
